<ul class="nav nav-pills nav-justified">
  <li class="active"><a href="#testimonials" id="testimonials-tab" data-toggle="pill" aria-controls="testimonials" aria-expanded="true">Testimonials</a></li>
  <li><a href="#suggestions" id="suggestions-tab" data-toggle="pill" aria-controls="suggestions">Suggestions</a></li>
  <li><a href="#all" id="all-tab" data-toggle="pill" aria-controls="all">All Stories</a></li>
</ul>
<div id="myTabContent" class="tab-content">
  <div role="tabpanel" class="tab-pane fade in active" id="testimonials" aria-labelledBy="testimonials-tab">
    <div ng-repeat="story in user.stories" ng-if="story.rating>2">
      <user-story story="story" publish="publish(story)"></user-story>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="suggestions" aria-labelledBy="suggestions-tab">
    <div ng-repeat="story in user.stories" ng-if="story.rating<3">
      <user-story story="story"></user-story>
    </div>
  </div>
  <div role="tabpanel" class="tab-pane fade" id="all" aria-labelledBy="all-tab">
    <div ng-repeat="story in user.stories">
      <user-story story="story"></user-story>
    </div>
  </div>
</div>