navbar {
  display: block;
  background: turquoise;

  // border-bottom: 1px solid black;
  // box-shadow: 1px 1px 14px -3px black;

  .sbl-navbar {
    margin-bottom: 0px;
    padding: 5px 10px !important;

    // padding-bottom: 5px !important;
 
  }

  .navbar-right {
    margin-right: 15px;
  }

  // .container {
  //   width: 91%;
  //   max-width: 1340px;
  //   padding-top: 20px;
  // }

  // fullstack-logo {
  //   margin-top: 5px;
  //   margin-right: 20px;
  //   width: 40px;
  // }

  a {
    color: darken(grey, 10%);
    font-weight: bold;

    // font-size: 16px;
 
  }

  // .nav > li > a {
  //   cursor: pointer;
  //   transition: color 0.2s;

  //   &.active {
  //     color: darken(#f31214, 10%);
  //   }

  //   &:hover {
  //     background: none;
  //     color: #f31214;
  //   }

  //   &:focus {
  //     background: none;
  //   }
  // }

  // .login-button {
  //   float: right;
  //   border: 5px solid black;
  //   margin-top: 10px;
  //   background: none;
  //   outline: none !important;
  // }

  .welcome {
    margin-top: 15px;

    a {
      &:hover {
        color: white;
      }

      &:focus {
        color: white;
        background-color: none !important;
      }
    }

    li > a {
      color: darken(turquoise, 10%);
      font-weight: bold;

      &:hover {
        color: darken(grey, 10%);
      }
    }
  }
}