* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  // font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background: darken(#fdfdfd, 3%);
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

  // padding-top: 60px;
  height: 100%;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  // padding-top: 60px;
  width: 100%;
  margin: 0 auto;
  min-height: calc(100% - 60px - 50px);
}

.top-padding {
  padding-top: 10px;
}

.btn-IL {
  background-color: darken(turquoise, 5%);
  border-color: darken(turquoise, 5%);
}

@import "directives/main";
@import "home/main";
@import "about/main";
@import "tutorial/main";
@import "login/main";
@import "companies/main";
@import "dashboard/main";