<div>
  <img ng-src="{{company.image}}" style="width:100%; display: block; margin:0 auto;"/>
  <div class="container">
    <!-- <div class="row">
      <div class="col-md-8">
        <h1>{{company.title}} <small>{{company.text}}</small></h1>
        <h4>{{company.description}}</h4>
      </div>
      <div class="col-md-4 top-padding">
        <h3>Overall Score: <b>95</b><small>/100</small></h3>
        <div class=" top-padding">
          <button class="btn btn-primary">Follow</button>
        </div>
        <div class="fb-like top-padding" data-href="http://2u.com/" data-width="300" data-layout="standard" data-action="like" data-show-faces="true" data-share="true">
        </div>
      </div>
    </div> -->
    <!-- <hr> -->
    <!-- <div class="thumbnail"> -->
    <!-- <div class="caption"> -->
    <tabset justified="true" type="tabs">
    <tab heading="Overview">
    <div class="thumbnail">
      <div class="caption">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe src="https://www.youtube.com/embed/aI4ZVlyrRZc" allowfullscreen>
          <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
      </div>
    </div>
    <div class="row top-padding">
      <div class="col-md-6">
        <h2>Goals</h2>
        <div class="thumbnail">
          <div class="caption">
            <p ng-repeat="goal in company.goals">{{$index+1}}. {{goal}}</p>
            <!-- <h4 ng-repeat="goal in company.goals">
            <span class="label label-success">{{goal}}</span></h4> -->
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <h2>Company Details</h2>
        <div class="thumbnail">
          <div class="caption">
            <p ng-repeat="entry in company.details">{{entry}}</p>
          </div>
        </div>
      </div>
    </div>
    <h2>Metrics</h2>
    <div class="thumbnail">
      <div class="caption">
        <div class="row">
          <div class="col-sm-4 col-md-3" ng-repeat="metric in company.metrics">
            <metric-thumbnail metric="metric"></metric-thumbnail>
          </div>
        </div>
      </div>
    </div>
    <h2>Impact Report</h2>
    <div class="thumbnail">
      <div class="caption">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="http://2u.com/impact-report-2015/">
          <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
      </div>
    </div>
    <h2>Team</h2>
    <img src="team.png" style="width:100%; display: block; margin:0 auto;">
    </tab>
    
    <tab heading="Activity">
    <div class="row">
      <div class="col-md-8">
        <h2>Stories</h2>
        <div class="thumbnail">
          <div class="caption">
            <div class="well" ng-repeat="story in company.stories">
              <p><i class="fa fa-quote-left fa-3x fa-pull-left"></i>{{story.text}}</p>
              <p>
                <div class="row">
                  <div class="col-md-1"><img class="img-circle" ng-src="{{story.image}}" style="height:50px;"></div>
                  <div class="col-md-11"><p><i> {{story.author}}</i></p></div>
                </div>
              </p>
            </div>
            <div class="form-group">
              <textarea class="form-control" rows="5" id="comment">Write my own story here...</textarea>
              <br>
              <button class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
        <h2>News</h2>
        <div class="thumbnail">
          <div class="caption">
            <div ng-repeat="article in company.news">
              <story-media story="article"></story-media>
              <hr>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h2>Social</h2>
        <!--  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");twttr.widgets.load();</script> -->
        
        <a class="twitter-timeline"  href="https://twitter.com/search?q=%402Uinc" data-widget-id="649647925874679808" data-tweet-limit="5">Tweets about @2Uinc</a>
        
        <script>twttr.widgets.load();</script>
        
        <br>
        <div class="top-padding fb-page" data-href="https://www.facebook.com/2U" data-height="1500" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/2U"><a href="https://www.facebook.com/2U">2U</a></blockquote></div></div>
      </div>
    </div>
    </tab>
    <tab heading="Careers">
    <div class="thumbnail">
      <div class="caption">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="http://2u.com/careers/">
          <p>Your browser does not support iframes.</p>
          </iframe>
        </div>
      </div>
    </div>
    </tab>
    <tab heading="Financial">
    <h2>Funding</h2>
    <div class="thumbnail">
      <div class="caption" >
        <img src="ipo.png" style="width:100%; display: block; margin:0 auto;">
        <img src="funds.png" style="width:100%; display: block; margin:0 auto;">
      </div>
    </div>
    <h2>Investors</h2>
    <div class="thumbnail">
      <div class="caption">
        <img src="/2UInvestors.png" style="width:100%; display: block; margin:0 auto;">
      </div>
    </div>
    </tab>
    <tab heading="Followers">
    <div class="thumbnail">
      <div class="caption">
        <p>...</p>
      </div>
    </div>
    </tab>
    </tabset>
  </div>
  
  <div style="background:#dcdcdc;">
    <div class="container">
      <!-- <div class="thumbnail"> -->
      <!-- <div class="caption"> -->
      <h2>Similar Companies</h2>
      <img src="/2UCompetitors.png" style="width:100%; display: block; margin:0 auto;">
      <!-- </div> -->
      <!-- </div> -->
      <hr>
    </div>
  </div>
</div>